
.set{
 font-size:17px
}
a{
  text-decoration: none;
  color: black;
}


table, td {
  border: 1px solid #bcbcbc;
  text-align: center;

}
  td{
    width: 500px;
    height: 1fr;
    margin-left: auto;o;
  }
@media(min-width:800px) {
div{
  display: none;
}
/* @media(max-width:600px) {
table, td{
  display: none;
} */
}


.seee{
  border: 1px  solid   ;
  width:1fr;
  height: 300px;

}
#active{
  color:red;}




#grid div{
 border: 200px;
 width: 5px;
 border:1fr  solid;
}
  #grid{
    border:3px;
    display:grid;
    grid-template-columns: 1fr 1fr;
    }

  .LOOK{
    margin-top: 30px;
      background-color: #25b327;
      color: white;
      padding:20px 50px;
      border-radius: 30px;
      font-weight: bold;
    }
