
.set{
 font-size:30px
}
a{
  text-decoration: none;
  color: black;
}


table, td {
  border: 1px solid #bcbcbc;
  text-align: center;

}
  td{
    width: 500px;
    height: 1fr;
    margin-left: auto;o;
  }




.seee{
  border: 1px  solid   ;
  width:1fr;
  height: 300px;

}
#active{
  color:red;}


  #grid{
    border:10px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;

  }


  .LOOK{
    margin-top: 30px;
      background-color: #25b327;
      color: white;
      padding: 1fr 1fr;
      border-radius: 30px;
      font-weight: bold;
      font-size:50px;
    }
